nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0a0a;
    color: #fff;
    padding: 10px;
  }
  *{
    font-weight: bolder;
  }
  nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #080707;
    font-size: 18px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  