/* .Mumbai {
  color: #41e620;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  } */
  body {
    background-image:url('https://images.unsplash.com/photo-1555927196-4a4e154c4d51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fG1hbGx8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(18, 8, 8, 0.7);
    
  }
  /* .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("C:\Users\sriva\Desktop\Barclays\Front_end\src\city.jpg");
    filter: blur(5px);
  } */
  
 
  nav {
    /* background-color: transparent; */
    color: #140606;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.5);
  }
  
  nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li a {
    color: #26f50b;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1b0b0b;
    
    padding: 0.5rem;
    margin: 0;
    list-style: none;
  }
  
  .dropdown-menu li {
    background-color: #333;
    margin: 0.25rem 0;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    background-color: #333;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 4rem 0;
  }
  
  ul {
    color: #41e620;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #0a25d6;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    margin: 0.25rem 0;
    
    
    transition: all 0.2s ease-in-out;
    font-weight: bolder;
    
  }
  
  
  /* ul li a {
  font-size: 30px;
  text-decoration: none;
  color: #b60c0c;
  display: block;
  text-align: center;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-color: #41e620;
  border: 2px Inset #41e620;
  transition: all 0.2s ease-in-out;
} */

ul li a:hover {
  color: #333;
  background-color: #eee;
  box-shadow: 0px 0px 10px #41e620; /* add a box-shadow on hover */
 
  padding: 5px; /* add some padding to make the border visible */
  border-style: groove;
}
   h2{
    font-size: 20px;
   }

   .i {
    width:33.3%;
   }
  
   .u {
    width: 90%;
   }