/* .Mumbai {
  color: #41e620;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  } */
  body {
    /* background-image:url('C:\Users\sriva\Desktop\Barclays\Front_end\aa.png'); */
    background-size: cover;
    background-position: center;
  }
 
  nav {
    background-color: #333;
    color: #140606;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
  }
  
  nav ul {
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li a {
    color: #41e620;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1b0b0b;
    border: 1px solid #d8e614;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    margin: 0;
    list-style: none;
  }
  
  .dropdown-menu li {
    background-color: #333;
    margin: 0.25rem 0;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    background-color: #333;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 10rem 0;
  }
  
  ul {
    color: #41e620;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li a {
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: #b60c0c;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    margin: 0.25rem 0;
    border-color: #41e620;
    border: 2px Inset #41e620;
    transition: all 0.2s ease-in-out; /* add a transition for a smooth effect */
  }
  
    ul li a:hover {
    color: #333;
    background-color: #eee;
    box-shadow: 0px 0px 5px #41e620; /* add a box-shadow on hover */

  }
  