.App {
    text-align: center;
    font-family: Arial, sans-serif;
    /* background-image: url("C:\Users\sriva\Desktop\Barclays\Front_end\src\city.jpg"); */
    background-size: cover;
    background-position: center;
    /* background-color: rgba(255, 255, 255, 0.7); */
    height: 100%;
    width: 100%;
  }
  
  
  input[type="text"] {
    width: 50%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
  }
  .Milind h2{
    background: transparent;
  }
  ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  /* ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    width: 150px;
    text-align: center;
  } */
.Atharva{
    cursor:pointer;
}